<div class="row">
    <h1 class="nomproyecto">Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1" >
            <h1>Portfolio Web</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores nostrum distinctio fuga quos, ea velit doloribus, consequuntur cupiditate atque repudiandae sint reiciendis aliquid nihil eveniet beatae, magnam modi! Consequuntur!
            </p>
        </div> 
        <div class="col-sm-12  col-md-3 col-lg-3 offset-md-1 parte2">
            <img src=" ../../../../../../assets/proyectoFoto.png" class="img-fluid  img-proyecto">
        </div>
    </div>
</div>
