<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../../../assets/APLogo.png" id="logoAP">
            <p id="yoprogramo">#YoProgramo</p>
        </div>
        <div class="redes">
                <a href="https://www.facebook.com/ori.pereyra.984"><img src="../../../../../assets/facebook.png" id="facebook"></a>
                <a href="https://github.com/webOrianaPereyr"><img src="../../../../../assets/github.png" id="github"></a>
                <a href="https://www.linkedin.com/in/orianapereyra/"><img src="../../../../../assets/linkedin.png" id="linkedin"></a>
                 <button type="button" class="btn btn-outline-light">Login</button>   
        </div>
    </div>
</div>

