.container{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.redes{
    margin-right: 0.5em;
}

#logoAP{
    width: 150px;
    margin-left: 25px;
}

#yoprogramo{
    display: inline-block; 
    color: rgb(231, 218, 251);   
    font-weight:bolder;
}
img{
    width: 28px;
}

.icons{
    margin-right: 90px;
    margin-bottom: 0px;
}

#facebook{
    margin-right: 15px;
}
#github{
    margin-right: 15px;
}
#linkedin{
    margin-right: 20px;
}

#facebook:hover{
    transform:scale(1.5);
    transition: 0.4s ease-in-out;
}

#github:hover{
    transform:scale(1.5);
    transition: 0.4s ease-in-out;
}

#linkedin:hover{
    transform:scale(1.5);
    transition: 0.4s ease-in-out;
}
.btn{
    border-width: medium;
}
/*celular*/
@media (max-width:575px){
   .container{
    flex-direction:column ;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes img{
    margin: 0.2em;
} 
}
