<div class="row">
    <h1 id="skills">Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="85" 
        [title]="'Html'"
        [titleColor]="'white'"
        [titleFontSize]="'2em'"
        [showUnits]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#AA66FF'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="800"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="85"
        [title]="'CSS'"
        [showUnits]="true"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#fff7ad'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="800"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="85" 
        [showUnits]="true"
        [showSubtitle]="false"
        [title]="'GitHub'"
        [titleColor]="'white'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'violet'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="800"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="45"
        [radius]="85" 
        [showUnits]="true"
        [showSubtitle]="false"
        [title]="'JavaScript'"
        [titleColor]="'white'"
        [titleFontSize]="'28px'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'violet'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="800"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="85" 
        [showUnits]="true"
        [showSubtitle]="false"
        [title]="'Empatía'"
        [titleColor]="'white'"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#AA66FF'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="800"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="85" 
        [showUnits]="true"
        [showSubtitle]="false"
        [title]="'Comunicación'"
        [titleColor]="'white'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="1"
        [outerStrokeColor]="'#fff7ad'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="800"
        [lazy]="true"
    ></circle-progress>
    </div>
</div>