<div class="row">
    <h1 id="formacion">FORMACIÓN ACADÉMICA</h1>
    <div class="col-lg-1" id="imglogos">

    </div>
    <div class="col-lg-11" id="educacion">
        <ul>
            <li>
                <h2>Argentina Programa </h2> - <h3>(años)</h3> </li>
                <p>#YoProgramo (en-curso)</p>
        </ul> <br>
        <ul>
            <li>
                <h2>Argentina Programa </h2> - <h3>(años)</h3> </li>
                <p>#SéProgramar (finalizado)</p>
        </ul> <br>
        <ul>
            <li>
                <h2>Universidad Nacional José C. Paz </h2> - <h3>(años)</h3> </li>
                <p>-Tecnicatura Universitaria en Comercio Electrónico. (incompleto)</p>
        </ul> <br>
        <ul>
            <li>
                <h2>Desarrollo Profesional - Instituto San Pedro </h2> - <h3>(años)</h3> </li>
                <p> + Salida laboral. <br>
                    + Conocimientos del Mercado laboral. <br>
                    + Uso de plataformas digitales.</p>
        </ul> <br>
        <ul>
            <li>
                <h2>Instituto San Pedro </h2> - <h3>(años)</h3> </li>
                <p>BACHILLER EN ECONOMÍA Y ADMINISTRACIÓN (finalizado)</p>
        </ul>

    </div>
</div>
