.row{
    padding: 20px;
}
div{
    background-color: #A4CEFF;
    text-align: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*estilo de foto de perfil */
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
         width: 15%; 
         border-radius: 100%;
         box-shadow: 3px 3px 3px grey;
         left:30px;
         top: 630px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
         width: 15%; 
         border-radius: 100%;
         box-shadow: 3px 3px 3px grey;
         left:30px;
         top: 630px;
    }
}

/*etiqueta nombre */
#nombre{
    font-weight: bolder;
    margin-top: 5%;
    margin-left: 10px;
    font-size: 23px;
    color:blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

#nombre:hover{
  transform:scale(1.1);
    transition: 0.4s ease-in-out;
      
}

#estudio{
    font-weight: lighter;
    color: rgb(161, 114, 204);
      text-decoration: underline;
}

.acercademi{
    font-size:35px;
    margin-bottom: 20px;
    color:rgb(240, 234, 227) ;
    
    
}
#sobremi{
    margin-top: 30px;
    padding-left: 5% ;
    padding-right: 3%;
}

#info{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-right: 20px;
}

