<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../../assets/perfilPhoto.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">PEREYRA DIOSQUEZ ORIANA</p>
        <P id="estudio">Full Stack Developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="sobremi">
        <span>
            <h1 class="acercademi">ACERCA DE MÍ</h1>
            <p id="info">¡Hola! Mi nombre es Oriana y soy un apasionada de las nuevas tecnologías y la innovación. Me comprometo a trabajar con ética y honestidad, y asi verse reflejado en la calidad de mi trabajo. Siempre estoy en busca de nuevos desafíos y oportunidades de aprendizaje que me permitan desarrollarme profesionalmente. Me emociona aplicar mi experiencia para ayudar a los clientes a alcanzar sus objetivos.</p>
        </span>
    </div>









</div>